:root{
    --bg-color: rgb(255, 255, 255);
    --nav-color: rgb(255, 255, 255);
    --nav-shadow: rgb(24, 177, 238);
    --theme-color-1: rgb(24, 178, 238);
    --font-color: rgb(0, 0, 0);
}

html:has(#light-dark-inp:checked){
    --bg-color: rgb(12, 12, 12);
    --nav-color: rgb(18, 18, 18);
    --font-color: rgb(255, 255, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    background-color: var(--bg-color);
}

a{
    color: var(--font-color);
    text-decoration: none;
}

.navbar{
    position: fixed;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid var(--nav-shadow);
    box-shadow: 0px 1px 2px var(--nav-shadow);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: var(--nav-color);
}


.navbar .icon{
    aspect-ratio: 4 / 1;
    height: 100%;
    display: flex;
}

.navbar .icon .iconImg{
    height: 100%;
    width: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .icon .iconImg img{
    height: 50px;
    width: 50px;
}

.navbar .icon .iconName{
    height: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    word-spacing: 20px;
    color: var(--font-color);
    display: flex;
    align-items: flex-end;
}

.navbar nav{
    height: 100%;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar nav a:hover{
    color: var(--theme-color-1);
    text-shadow: 0px 1px 1px rgba(0, 100, 181, 0.589);
}

.navbar nav #light-dark-inp{    
    display: none;
}

.navbar nav .light-dark{
    color: var(--font-color);
}

.navbar .hamburger{
    display: none;
    font-size: 25px;
}

.navbar .hamburger{
    cursor: pointer;
}

.navbar #hamburger-inp{
    display: none;
}

main .heroContainer{
    aspect-ratio: 3 / 2;
    width: 100%;
    min-height: 100%;
    background-image: url(One_piece_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

main .heroContainer .hero{
    padding: 10vh 6rem 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient( to right, rgba(0,0,0,0.9), rgba(0,0,0,0.1));
    color: rgb(255, 255, 255);
}

main .heroContainer .hero .intro{
    width: calc((100% - 40px) / 2) ;
    min-width: 400px;
}

main .heroContainer .hero .intro h1{
    font-size: 2.8rem;
    padding: 0.5rem 0rem;
}

main .heroContainer .hero .intro p{
    font-size: 1.4rem;
    padding: 1rem 0rem;
}

main .heroContainer .hero .intro .trendingBtn{
    display: inline-block;
    background-color: var(--theme-color-1);
    border-radius: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
}

main .heroContainer .hero .svg img{
    height: 300px;
    padding: 50px 0;
    animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@media (max-width: 750px) {

    .navbar{
        padding: 10px 20px;
    }

    .navbar .icon{
        width: 40px;
        height: 100%;
    }

    .navbar .icon .iconName{
        display: none;
    }    

    .navbar nav{
        height: 150px;
        width: 100%;
        display: none;
        flex-direction: column;        
        align-items: flex-end;
        justify-content: space-evenly;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 20px;
        box-shadow: 0px 0px 3px var(--nav-shadow);        
        border-bottom: 1px solid var(--nav-shadow);
    }

    .navbar .hamburger{
        display: flex;
        color: var(--font-color);
    }

    #hamburger-inp:checked + label + nav{
        display: flex;
        background-color: var(--nav-color);
    }

    main .heroContainer{
        width: 100%;
        height: 100vh;
        min-height: 400px;
        background-image: none;
        background-color: var(--theme-color-1);
    }

    main .heroContainer .hero{
        padding: 10vh 15% 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }

    main .heroContainer .hero .intro{
        width: 100%;
        min-width: 0;
    }

    main .heroContainer .hero .intro h1{
        font-size: 2rem;
        padding: 1rem 0rem 0rem;
    }

    main .heroContainer .hero .intro p{
        font-size: 1rem;
        padding: 0.5rem 0rem 1rem;
    }

    main .heroContainer .hero .intro .trendingBtn{
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    main .heroContainer .hero .svg img{
        height: 200px;
    }

}
